* {
    margin: 0;
}

.container {
    margin-top: 100px;
    max-width: 900px;
    margin: 100px auto auto;
}


.button-block {
    margin: auto;
    width: 130px;
}

.arrow-prev {
    width: 50px;
    cursor: pointer;
    transform: rotate(180deg);
}
.arrow-prev:hover {
    background: rgb(183, 213, 232);
    border-radius: 50%;
}

.arrow-next {
    width: 50px;
    cursor: pointer;
}

.arrow-next:hover {
    background: rgb(183, 213, 232);
    border-radius: 50%;
}

.slider {
    border: 5px solid rgb(167, 244, 24);
    width: 450px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}

.slider-block {
    height: 300px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
